<h1>Login</h1>

<div class="container">
	<h2>In order to use JerkAlert, you must be logged in</h2>
	<p>API calls are cheap.... until they're not!</p>
	<div class="container">
		<form action='/sessions' method="POST">
			<label for="user[username]">Username</label>
			<input type="text" name="user[username]" placeholder="Username">
			<label for="user[password]">Password</label>
			<input type="password" name="user[password]">
			<input type="submit" value="Login">
		</form>
	</div>
	<h3>And if you're not a member, sign up <a href='/users/new'>here</a></h3>
</div>