<h1>Register</h1>

<div class="container">
	<h2>Sign up with JerkAlert to screen your texts/emails for emotional impact</h2>
	<div>
		<form id='register-form' action='/users' method="POST">
			<div class="input-group">
				<label for="user[username]">Username</label>
				<input class="form-control" type="text" name="user[username]">
			</div>
			<div class="input-group">
				<label for="user[email]">Email Address</label>
				<input class="form-control" type="email" name="user[email]">
			</div>
			<div class="input-group">
				<label for="user[name]">Full Name</label>
				<input class="form-control" type="text" name="user[name]">
			</div>
			<div class="input-group">
				<label for="user[password]">Password</label>
				<input class="form-control" type="password" name="user[password]">
			</div>
			<div class="input-group">
				<input class="btn btn-default" id="register" type="submit" value="Sign Up">
			</div>
		</form>
	</div>
</div>