<div class="sub-explanation">
	<p>Alchemy Emotional Analysis scans the input text for markers of the 5 most basic human emotions:</p>
	<ul>
		<li>Anger</li>
		<li>Disgust</li>
		<li>Fear</li>
		<li>Joy</li>
		<li>Sadness</li>
	</ul>
	<!-- Change the parsing method to multiply by 100 for more intelligible output? -->
	<p>The API evaluates scores on a 0-1 scale. JerkAlert multiplies this score by 100 to make the output more intelligible.</p>
</div>