<h3 class="sub-header"><a href="/posts/emotion/explanation">Emotion Analysis</a></h3>
<div class="container">
	<div class="explanation-container"></div>
	<form class="creation" action="/posts/emotion" method="POST">
		<input type="hidden" name="post[user_id]" value="<%= @user.id %>">
		<textarea name="post[body]" class="text" rows="15" cols="50" class="query"></textarea>
		<input type="submit" value="Give me the feels">
	</form>
</div>