<div class="container">
	<p>Input text:</p>
	<div class="little-container">
		<p>
			<%= @post.body %>
		</p>
	</div>
	<p>What Alchemy had to say:</p>
	<div class="little-container">
		<p>
			<%= @post.analysis %>
		</p>
	</div>
</div>