<div class="sub-explanation">
	<p>Alchemy Sentiment Analysis simply evaluates a statement for overall positivity or negativity.</p>
	<p>The scale is from -1 to 1; JerkAlert multiplies this score by 100 to make the output more intelligible.</p>
</div>