<div class="row">
	<div class="col-xs-3"></div>
	<div class="col-xs-6">
		<h3 class="sub-header"><a href="/posts/sentiment/explanation">Sentiment Analysis</a></h3>
		<div class="explanation-container"></div>
		<form class="creation" action='/posts/sentiment' method="post">
			<input type="hidden" name="post[user_id]" value="<%= @user.id %>">
			<textarea name="post[body]" type="text" rows="8" class="query form-control"></textarea>
			<input class="btn btn-default" type="submit" value="Analyze This" />
		</form>
	</div>
	<div class="col-xs-3"></div>
</div>