<div class="sub-explanation">
	<p>Alchemy Targeted Sentiment Analysis evaluates a statement for positivity and negativity directed towards a given entity.</p>
	<p>The scale is from -1 to 1; JerkAlert multiplies this score by 100 to make the output more intelligible.</p>
</div>