<h2>Time For A New Query!</h2>
<div class="container">
	<!-- <div class="row">
		<div class="col-xs-6"> -->
			<h3>Click one of the links below for a given type of analysis</h3>
			<div class="prepend">
				<div id="form-container"></div>
				<a class="ajax-form" href="/posts/new/sentiment">Sentiment Analysis</a>
				<a class="ajax-form" href="/posts/new/targeted-sentiment">Targeted Sentiment Analysis</a>
				<a class="ajax-form" href="/posts/new/emotion">Emotional Analysis</a>
			<!-- </div>
		</div> -->
	</div>
</div>