<h2>Time For A New Query!</h2>
<div class="container">
	<div class="row">
		<div class="col-xs-3"></div>
		<div class="col-xs-6">
			<h3>Click one of the links below for analysis</h3>
		</div>
		<div class="col-xs-3"></div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="prepend">
				<div id="form-container"></div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-3"></div>
		<div class="col-xs-6">
			<p><a class="ajax-form" href="/posts/new/sentiment">Sentiment Analysis</a></p>
			<p><a class="ajax-form" href="/posts/new/targeted-sentiment">Targeted Sentiment Analysis</a></p>
			<p><a class="ajax-form" href="/posts/new/emotion">Emotional Analysis</a></p>
		</div>
		<div class="col-xs-3"></div>
	</div>
</div>