<h1>Time For A New Query!</h1>
<div class="container">
	<h2>Click one of the links below for a given type of analysis</h2>
	<div class="prepend">
		<a class="ajax-form" href="/posts/new/sentiment">Sentiment analysis - strictly positive/negative</a>
	<a class="ajax-form" href="/posts/new/emotion">Emotional analysis - how 5 emotions are represented in your text</a>
	</div>
</div>