<h2>Here's that stuff you asked for</h2>
<div class="container">
	<p>Created at: <%= @post.created_at %></p>
	<br>
	<p>Input text:</p>
	<div class="little-container">
		<p>
			<%= @post.body %>
		</p>
	</div>
	<p>What Alchemy had to say:</p>
	<div class="little-container">
		<p>
			<%= @post.analysis %>
		</p>
	</div>
</div>
<p><a href="/posts/new">Ask Alchemy to emotionally proof read more stuff!</a></p>