<div class="container">
	<h3>What is Alchemy and why do I care?</h3>
	<div class="little-container">
		<p>Alchemy is an API that processes text, urls, or HTML and analyzes the content in a number of ways. JerkAlert is only concerned with emotion and sentiment analysis.</p>
		<h3>Woopty Doo! What does it all <b>mean</b>, Basil?</h3>
		<p>Have you ever typed out an email or text, and thought "I hope I didn't come across as a jerk" or "Does that sound like a joke, or is it just mean?"</p>
		<p>That's where JerkAlert comes in! Using Alchemy, we screen your text and show you how it comes across. No longer will you agonize over your messages contents, because you'll already know!</p>
	</div>
</div>