<h2>Welcome to JerkAlert!</h2>
<div id="main">
	<p>Have you ever sent a text or email and had an "Oh, shit" moment immediately after hitting send?</p>
	<p>JerkAlert eliminates the guesswork by running your messages through IBM Watson's Alchemy Language API.</p>
	<p>JerkAlert uses sentiment analysis, targeted sentiment analysis, and emotional analysis to let you know exactly how that message comes across.</p>
	<figure>
		<img src="/img/jerk.png" alt="Jerk">
		<figcaption>You don't want to be a jerk, do you?</figcaption>
	</figure>
	<p><a href="/posts/new">Click here to start analyzing your writing.</a></p>
	<div id="home">
		<div id="meaning"></div>
		<p><a href="/meaning">What does it all mean, Basil?</a></p>
	</div>
</div>