<h2>Welcome to JerkAlert!</h2>
<div id="main">
	<div class="row">
		<div class="col-xs-3"></div>
		<div class="col-xs-6">
			<p class="centered">Have you ever sent a text or email and had an "Oh, shit" moment immediately after hitting send?</p>
			<p class="centered">JerkAlert eliminates the guesswork by running your messages through IBM Watson's Alchemy Language API.</p>
			<p class="centered">JerkAlert uses sentiment analysis, targeted sentiment analysis, and emotional analysis to let you know exactly how that message comes across.</p>
			<div class="col-xs-2"></div>
			<div class="col-xs-8">
				<figure>
					<img id="main-img" src="/img/jerk.jpg" alt="Jerk">
					<figcaption>You don't want to be a jerk, do you?</figcaption>
				</figure>
			</div>
			<div class="col-xs-2"></div>
		</div>
		<div class="col-xs-3"></div>
	</div>
	<div class="row">
		<div class="col-xs-3"></div>
		<div class="col-xs-6">
			<p class="centered"><a href="/posts/new">Click here to start analyzing your writing.</a></p>
			<div id="home">
				<div id="meaning"></div>
				<p class="centered"><a href="/meaning">What does it all mean?</a></p>
			</div>
		</div>
		<div class="col-xs-3"></div>
	</div>
</div>