<h2>Welcome to JerkAlert!</h2>
<div id="main">
	<p>JerkAlert is a webapp that leverages the Watson Alchemy Language Processing API to analyze the sentiment and emotional content of your texts and emails.</p>
	<p><a href="/posts/new">Click here to start analyzing your writing.</a></p>
</div>