<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <header>
    <div id="omni-header">
      <a href="/">Home</a>
      <% if current_user %>
      <form id="logout" action='/sessions/<%= current_user.id %>' method="POST">
        <input type="hidden" name="_method" value="Delete">
        <input type="submit" value="Logout">
      </form>
      <!-- <a id="logout" href="/sessions/<%= current_user.id %>">Logout</a> -->
      <a id="profile" href="/users/<%= current_user.id %>">Profile</a>
      <% else %>
      <a href="/sessions/new">Login</a>
      <a href="/users/new">Register</a>
      <% end %>
    </div>
  </header>
  <h1 id="banner-title">JerkAlert</h1>
  <%= yield %>
</body>
</html>
